set timeout=10
set default=0

menuentry "LyndsOS USB Live (no instala nada automaticamente)" {
    search --no-floppy --set=root --file /live/vmlinuz
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "LyndsOS USB Live All RAM (copia todo el SO a la RAM)" {
    search --no-floppy --set=root --file /live/vmlinuz
    linux /live/vmlinuz boot=live toram quiet splash
    initrd /live/initrd.img
}

menuentry "Reiniciar ordenador" {
    reboot
}

menuentry "Apagar ordenador" {
    halt
}
